body {
  background-color: #d2f4f9;
  
}

h1#titulo {
  font-size: 20pt;
  background-color: #f8f9fa;
  margin-bottom: 0;
  margin-left: 20px;
}

#navbar {
  height: 5px;
  background-color: red;
  width: 700px;
}

h1 {
  text-align: center;
}

h1.h1-flor {
  text-align: left;
}

.p {
  text-align: left;
}

.h1 {
  text-align: left;
}

#botao-home {
  background-color: #d2f4f9;
  
  border: 1px solid #d2f4f9;

  color: black;

  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.171);
}

offcanvas-header {
  background-color: #d2f4f9;
}

#menu-header2 {
  background-color: #d2f4f9;

  height: 100%;
}

#search {
  background-color: #6fd7e7;

  border: 0;

  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.171);

  color: white;
}

#search:hover {
  background-color: #5cbfce;

  color: rgb(226, 226, 226);
}

.offcanvas-header {
  background-color: #d2f4f9;
}

.btn btn-light{
  text-align: center;
}

#botao-home{
  background-color:#d2f4f9;
  border: 1px solid #d2f4f9;
  color: black;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.171);
}

.col1-home{
  margin: auto;
  text-align: center;
  margin-top: 5%;
}

#idcol1-home{
  margin-top: 5%;
}

#Logo{
  height: 80%;
  width: 60%;
}

#Seta{
  height:40px; 
  width:40px; 

}

.img-flor-home{
  height:800px; 
  width:900px;
}

.offcanvas-header{
  background-color: #d2f4f9;
}

#menu-header2{
  background-color: #d2f4f9;
  height: 100%;
}

#search{
  background-color: #6fd7e7;
  border: 0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.171);
  color: white;
}

#search:hover{
  background-color: #5cbfce;
  color: rgb(226, 226, 226);
}

h1.main-title{
  font-size: 4em;
}

#caixa{
  background-color: #d2f4f9;
}
