.formulario {

    width: 320px;
    margin: auto;
    background-color: #B0E0E6;
    border-radius: 4px;
    box-sizing: border-box;
    height:auto;
    padding: 15px;
    
  }
  
  .title {
  
      font-family: 'open_sansregular';
      font-size: 2em;
      color: #d2f4f9;
      margin-bottom: 30px;
      border-bottom: 1px #202020 solid;
      padding-bottom: 10px;
  
  }
  
  .input-container {
    
    width: 100%;
    height: 50px;
    position: relative;
    margin-top: 20px;
  
  }
  
  .input {
  
    width: 100%;
    background-color: #E0FFFF;
    border-radius: 8px;
    border: 0;
    box-sizing: border-box;
    color: #0b0a0a;
    font-size: 18px;
    font-family: 'open_sansregular';
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
  
  }
  
  .legenda-p {
  
    background-color: transparent;
    border-radius: 8px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 100px;
  
  }
  
  .input:focus ~ .legenda-p,
  .input:not(:placeholder-shown) ~ .legenda-p {
    transform: translateY(8px);
    background-color:rgba(0, 0, 0, 0.171);
  }
  
  .label {
  
    color: #393940;
    font-family: 'open_sansregular';
    left: 15px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  
  }
  
  .input:focus ~ .label,
  .input:not(:placeholder-shown) ~ .label {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .label {
    color: #0b0a0a;
  }
  
  .input:focus ~ .label {
    color: #131313;
  }
  
  .btn bg-light {
  
    width: 100%;
    background-color: #d2f4f9;
    border-radius: 8px;
    border: 0;
    box-sizing: border-box;
    color: #0b0a0a;
    cursor: pointer;
    font-size: 1.2em;
    font-family: 'open_sansregular';
    height: 50px;
    margin-top: 20px;
    outline: 0;
    text-align: center;
    transition: 0.4s;
  
  }
  
  .btn:hover {
    
    background-color: #d2f4f9;
    color: #D3D3D3;
  
  }
  
  #botao-home{

    background-color:#d2f4f9;
   
    border: 1px solid #d2f4f9;
   
    color: black;
   
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.171);
   
   }
   
   
   .offcanvas-header{
   
    background-color: #d2f4f9;
   
   }
   
   
   #menu-header2{
   
    background-color: #d2f4f9;
   
   height: 100%;
   
   }
   
   
   #search{
   
   background-color: #6fd7e7;
   
    border: 0;
   
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.171);
   
    color: white;
   
   }
   
   
   #search:hover{
   
    background-color: #5cbfce;
   
    color: rgb(226, 226, 226);
   